<h2> Judge Details </h2>

<h3> <%= judgeDetails.name %> </h3>

<p> Circuit: <%= judgeDetails.circuit %> </p>

<p> <%= judgeDetails.description %> </p>

<img src="<%= judgeDetails.imageUrl %>" />

<p> Added on <%= judgeDetails.dateAdded %> </p>


<a href="/judges/<%= judgeDetails._id %>/edit">
  Edit This Judge
</a>

<br />

<a href="/judges/<%= judgeDetails._id %>/delete">
  Delete This Judge
</a>

<hr />

<h3> Reviews </h3>

<a href="/judges/<%= judgeDetails._id %>/reviews/new">
  Write a Review
</a>

<ul>
  <% listOfReviews.forEach((oneReview) => { %>
    <li>
      <h4> <%= oneReview.stars %> out of 5</h4>
      <p> <%= oneReview.content %> </p>
      <p> by <%= oneReview.authorName %> </p>
    </li>
  <% }) %>
</ul>
