<h2> Judge List </h2>

<a href="/judges/new"> Add a New Judge </a>

<ul>
  <% listOfJudges.forEach((oneJudge) => { %>
    <li>
      <h3> <%= oneJudge.name %> </h3>
      <p> <%= oneJudge.circuit %> Circuit </p>
      <img src="<%= oneJudge.imageUrl %>" />
      <ul>
        <li>
          <!-- <a href="/judges/details?judgeId=<%= oneJudge._id %>"> -->
          <a href="/judges/<%= oneJudge._id %>">
            View Judge Details
          </a>
        </li>

        <li>
          <a href="/judges/<%= oneJudge._id %>/edit">
            Edit
          </a>
        </li>

        <li>
          <a href="/judges/<%= oneJudge._id %>/delete">
            Delete
          </a>
        </li>
      </ul>
    </li>
  <% }) %>
</ul>
